// Colors
$white: #fff;

// Typography
//_ Font family
$montserrat: "Montserrat", sans-serif;
$courier: "Courier New", sans-serif;

//_ Font weight
$regular: 400;
$semi-bold: 500;
$bold: 600;
$semi-black: 700;
$black: 800;

//_ Font size
$xx-large: 70px;
$x-large: 40px;
$large: 22px;
$medium: 16px;
$small: 12px;

//_ Font Styles
